<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naziur.androidchat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|screenSize">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.SessionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.MyContactsActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".activities.ChatDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity"></activity>
    </application>

</manifest>