<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naziur.androidchat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <receiver
        android:name=".NetworkChangeReceiver"
        android:label="NetworkChangeReceiver">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
        </intent-filter>
    </receiver>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/ic_launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.ChatActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.SessionActivity"
            android:label="@string/title_all_chats"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyContactsActivity"
            android:label="@string/title_contacts" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".activities.ChatDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <activity
            android:name=".activities.GroupCreatorActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".activities.GroupChatActivity" />
        <activity
            android:name=".activities.NotificationActivity"
            android:label="@string/title_notifications" />
        <activity
            android:name=".activities.GroupDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activities.SessionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.naziur.androidchat.activities.SessionActivity" />
        </activity>
        <activity
            android:name=".activities.MemberSelectorActivity"
            android:label="@string/title_select_member" />
        <activity
            android:name=".activities.AboutActivity"
            android:label=""
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>